@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');

:root {
    --blue1: #2DA6A6;
    --blue2: #2DA690;
    --blue3: #30BF97;
    --green1: #5afa54;
    --green2: #0DF205;
    --black: #0D0D0D;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins',sans-serif,Arial, Helvetica;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.colorblue1 {
    color: var(--blue1);
}

.flexBetweenAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexJustAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    width: 100%;
    padding: 1rem;
}